.eachWeekInfo {
  width: 300px;
  padding: 6px;
  border-radius: 50px;
  background-color: #434343;
  border: 1px solid #d9d9d9;
  margin-block: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.weekInfo {
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.coin_img_container {
  width: 30px;
  height: 30px;
}
.coin_img_container > img {
  width: 100%;
  height: 100%;
}

.weekly-container{
  color: var(--main-green);
  font-family: "Cafe24Moyamoya-Regular-v1.0", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;

  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
  
}