.inputTag {
  width: 309px;
  height: 47px;
  border-radius: 14px;
  background-color: var(--border-gray);
  color: var(--text-white);
  font-weight: 400;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  border: 1px var(--background-black) solid;
  padding: 10px;
}
.inputTag:focus {
  border: 1px var(--main-green) solid;
}
