
# Frontend
/frontend/node_modules/
/frontend/dist/

# Backend
/backend/build/
/backend/.gradle/
/backend/out/
/backend/.idea/
/backend/target/

# Common
.DS_Store
*.log
.env
*.pem
.idea/
et --hard HEAD~1