# 디폴트 무시된 파일
/../../피로체크/.idea/shelf/
/../../피로체크/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../피로체크/.idea/httpRequests/
# Datasource local storage ignored files
/../../피로체크/.idea/dataSources/
/../../피로체크/.idea/dataSources.local.xml
